html {
    color: slategray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    background-image: url("images/amazon-background-image.jpg");
}

body {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(220, 220, 220, 0.9);
    padding: 50px 50px 10px 100px;
    /*  TOP  RIGHT  BOTTOM   LEFT  */
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: darkblue;
    box-shadow: 2px 2px 2px gray;
}

.logo {
    box-shadow: none;
    border-color: darkblue;
}


h1 {
    color: maroon;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
}

h2 {
    color: midnightblue;
    font-family: sans-serif;
}

img {
  border-style: solid;
  border-width: 5px;
  border-color: darkblue;

  box-shadow: 5px 5px 5px 2px rgba(41, 35, 31, 1);
}

a {
    color: white;
    text-decoration: none;
    font: bold 14px "Arial Black", Gadget, sans-serif;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(106, 136, 146);
    font-size: 15px;
}

strong {
    color: black;
}
